* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-backgrnd-infoHeader-quoteText: #1f2937;
  --clr-mainText-logoText: #f9faf8;
  --clr-headerLink-quoteSection: #e5e7eb;
  --clr-button-color: #3882f6;
  --fnt-main-text-size: 48px;
  --fnt-secondText-headerLink-size: 18px;
  --fnt-header-logo-size: 24px;
  --fnt-infoHeader-quoteText-size: 36px;
  --stl-mainText-infoHeader-extraBold: 700;
  --stl-quoteText-italic: italic;
}

html,
main {
  max-width: 1440px;
  height: 300vh;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial;
  line-height: 1.5;
}

/* HEADER */

nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: var(--clr-headerLink-quoteSection);
  padding: 1rem;
}

header > h1 {
  margin-left: 3rem;
  color: var(--clr-mainText-logoText);
  cursor: pointer;
  font-size: var(--fnt-header-logo-size);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-backgrnd-infoHeader-quoteText);
}

/* FIRST SECTION */

.sectionTop {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-content: center;
  background-color: var(--clr-backgrnd-infoHeader-quoteText);
  padding-bottom: 40px;
  margin-bottom: 4rem;
}

.sectionTop__blockText {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 1rem;
  margin-top: 60px;
}

.sectionTop__blockText > h1 {
  color: var(--clr-mainText-logoText);
  font-size: var(--fnt-main-text-size);
}

.sectionTop__text--modifier {
  color: var(--clr-mainText-logoText);
}

.sectionTop__img--size {
  width: 300px;
  height: 0 auto;
}

.sectionTop__button--modifier {
  width: 8rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-button-color);
  color: var(--clr-mainText-logoText);
  font-weight: var(--stl-mainText-infoHeader-extraBold);
  cursor: pointer;
  transition: 0.15s;
}

.sectionTop__button--modifier:hover {
  opacity: 0.8;
}
.sectionTop__button--modifier:active {
  opacity: 0.5;
}

/* Second Section */

.sectionInfos {
  text-align: center;
  padding-bottom: 40px;
}

.sectionInfos__block {
  display: flex;
  justify-content: space-around;
}

.sectionInfos > h3 {
  color: var(--clr-backgrnd-infoHeader-quoteText);
  font-size: var(--fnt-infoHeader-quoteText-size);
  margin-bottom: 54px;
}

.sectionInfos__block div img {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.sectionInfos__block div p {
  font-size: var(--fnt-secondText-headerLink-size);
  font-weight: var(--stl-mainText-infoHeader-extraBold);
  color: var(--clr-backgrnd-infoHeader-quoteText);
}
